.table-container {
    width: 50%;
    height: 100vh;
}

.MuiTableCell-root {
    border: none !important;
}

.primary-bg {
    background-color: #A9BD9A;
    color: #526C3F
}

.secondary-bg {
    background-color: #526C3F;
    color: #A9BD9A
}

.delete-button {
    background-color: #FF6961;
    border-radius: 10px;
    border: none;
    padding: 15px
}

.delete-button:hover {
    cursor: pointer;
}

.item-image {
    height: 100px
}